@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

.background-front {
  width: 100%;
  background-size: cover;
  background-position: top;
  background-image: url("https://i.ibb.co/7Nwks2M/products-background.jpg");
}

.background-front-secondary {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("https://i.ibb.co/fqFq5PQ/no-repeat.jpg");
}

.background-front-section-third {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("https://i.ibb.co/N6G8qvk/about-us.png");
}

.background-card-wrapper{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("https://i.ibb.co/qYK39Zj/backdrop-card.png");
}

.background-bottom-img{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("https://i.ibb.co/1sVNmC2/bottom-base-img.png");
  opacity: 0.85;
}
